html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

h1 {
    color: white;
}

p {
    color: brown;
    padding-left: 15%;
    margin-top: 5%;
    font-size: 30px;
    
} 

